.Cards {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    align-items: center;
  }
  &__container-card {
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    img {
      cursor: pointer;
    }
  }
  &__price-span {
    font-size: 1.5em;
  }
  &__card-body {
    span {
      font-weight: bold;
      color: #5f5f57;
    }
    p {
      margin: 0;
      width: 200px;
    }
    button {
      margin: 3%;
    }
  }
  &__card-title {
    color: var(--primary);
    // text-shadow: 2px 2px 2px rgba(26, 5, 5, 0.6);
    // width: 200px;
  }
  &__input-container {
    padding: 3%;
    background-color: var(--primary);
    margin-bottom: 3%;
    width: 100%;
    border-radius: 5px;
  }
  &__thanks {
    position: fixed;
    left: 0;
    bottom: 0;

    z-index: 1;
  }
}

@media (max-width: 600px) {
  .Cards {
    &__container {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}
