.Cards {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    align-items: center;
  }
  &__container-card {
    padding: 5px;
    background: var(--fourth);
    img {
      cursor: pointer;
    }
  }
  &__card-body {
    span {
      font-weight: bold;
      color: #5f5f57;
    }
    p {
      margin: 0;
      width: 200px;
    }
  }
  &__card-title {
    // color: var(--secondary);
    text-shadow: 2px 2px 2px rgba(233, 248, 17, 0.6);
    width: 200px;
  }
  &__input-container {
    padding: 3%;
    background-color: var(--primary);
    margin-bottom: 3%;
    width: 100%;
    border-radius: 5px;
  }
}

@media (max-width: 600px) {
  .Cards {
    &__container {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}
