.Shop {
  // &__container {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  // }
  &__container-card {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 10px;
  }
  &__card-body {
    span {
      font-weight: bold;
      color: #5f5f57;
    }
    p {
      margin: 0;
      width: 500px;
    }
  }
  &__price-span {
    font-size: 1.5em;
    font-weight: bold;
  }
  &__card-title {
    text-shadow: 2px 2px 2px rgba(233, 248, 17, 0.6);
    width: 300px;
  }
  &__result-span {
    font-weight: bold;
    color: var(--primary);
    text-decoration: underline;
  }
  &__total-result {
    p {
      margin: 0;
    }
  }
  &__delete {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--letter);
    bottom: 0;
    transition: 0.3s;
  }
  &__delete:hover {
    color: var(--primary);
    transition: 0.3s;
  }
  &__btn-finalizarCompra {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  &__iconCart {
    display: flex;
  }
  &__iconCart i {
    font-size: 1.5em;
  }
  &__quantity {
    background-color: var(--primary);
    border-radius: 50%;
    width: 25px;
    height: auto;
    text-align: center;
    margin-left: -5px;
  }
}

h2 {
  color: var(--primary);
}

@media (max-width: 600px) {
  .Shop {
    &__container {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
    &__card-body {
      p {
        margin: 0;
        width: 150px;
      }
    }
    &__container-card {
      flex-direction: column;
    }
    &__delete {
      right: 0;
      padding: 10px;
    }
  }
}
